#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell{
  height:80px;
  width: 80px;
  background-color: white;
  color: black;
  outline-width: 1px;
  outline-style: auto;
  outline-color: black;
  /* font-size: 22px; */
  border: 1px solid transparent;
}

.win-message{
  color: green;
}

.draw-message{
  color: orange;
}